/* =======================================================
   RESET
======================================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width:100%;
    height:auto;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* =======================================================
   MOBILE FIRST
   360px (CELULARES PEQUENOS)
======================================================= */

header{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;

    background:#444;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
}

.cards{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    padding:20px;
}

.card{
    background:#ddd;
    padding:40px;
    text-align:center;
    border-radius:8px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}

/* =======================================================
   CELULAR GRANDE
   480px+
======================================================= */

@media screen and (min-width:480px){

    nav{
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
    }

}
/* =======================================================
   TABLET
   768px+
======================================================= */

@media screen and (min-width:768px){

    .cards{
        grid-template-columns:
            repeat(2, 1fr);
    }

}
/* =======================================================
   NOTEBOOK
   1024px+
======================================================= */

@media screen and (min-width:1024px){

    .cards{
        grid-template-columns:
            repeat(3, 1fr);
    }

}
/* =======================================================
   DESKTOP
   1280px+
======================================================= */

@media screen and (min-width:1280px){

    main{
        max-width:1200px;
        margin:auto;
    }

    .cards{
        grid-template-columns:
            repeat(4, 1fr);
    }

}
/* =======================================================
   FULL HD E ULTRAWIDE
   1920px+
======================================================= */

@media screen and (min-width:1920px){

    body{
        font-size:18px;
    }

    main{
        max-width:1600px;
    }

}